{% extends "base.html" %}
{% block main %}
<!-- Main -->
	<section id="maint">

		<!-- Items -->
			<div class="itemst">

				<div class="item intro span-2">
					<h1>Foil Papers kinds</h1>
					<p>A responsive portfolio gallery site<br />
					A BL threads Productions</p>
				</div>

				<article class="#two">
					<h2>You really got me</h2>
					<a href="/static/images/Import export code.jpeg" class="image"><img src="/static/images/Import export code.jpeg" alt=""></a>
				</article>

				<article class="#two">
					<h2>Ad Infinitum</h2>
					<a href="/static/images/Udhyog adhaar no.jpeg" class="image"><img src="/static/images/Udhyog adhaar no.jpeg" alt=""></a>
				</article>

				<article class="#two">
					<h2>Different.</h2>
					<a href="/static/images/GST number.jpeg" class="image"><img src="/static/images/GST number.jpeg" alt=""></a>
				</article>

			</div>

		<!-- Items -->
			<div class="items">

				<article class="item thumb span-3"><h2>Kingdom of the Wind</h2><a href="/static/images/Import export code.jpeg" class="image"><img src="/static/images/Import export code.jpeg" alt=""></a></article>
				<article class="item thumb span-1"><h2>The Pursuit</h2><a href="/static/images/Udhyog adhaar no.jpeg" class="image"><img src="/static/images/Udhyog adhaar no.jpeg" alt=""></a></article>
				<article class="item thumb span-2"><h2>Boundless</h2><a href="/static/images/GST number.jpeg" class="image"><img src="/static/images/GST number.jpeg" alt=""></a></article>
			</div>
	</section>
</div>
{% endblock %}
<!-- Scripts -->
<!-- <script src="../static/js/jquery.min.js"></script>
<script src="../static/js/jquery.poptrox.min.js"></script>
<script src="../static/js/browser.min.js"></script>
<script src="../static/js/breakpoints.min.js"></script>
<script src="../static/js/util.js"></script>
<script src="../static/js/main.js"></script> -->
<!-- </body>
</html> -->