
{% extends "base.html"%}

	{% block main %}
				<!-- One -->
					<section id="one" class="wrapper style2 spotlights">
						<section>
							<a href="#" class="image"><img src="/static/images/one.png" alt="" data-position="center center" /></a>
							<div class="content">
								<div class="inner">
									<h2><u>Major Distributers of foil papers</u></h2>
									<p>BL. Thread & Handloom Goods is a privately owned company which was founded in 1999 as potential and reliable supplier of 
										food packing materials. <a href="Kitchen King Wrap">Kitchen King Wrap</a> is brand of BL.Thread & Handloom Goods for 
										food packaging papers after serving multiple products such as art Jewelry, Embroidery thread and bath fittings etc., 
										BL. Thread and Handlooms Goods company has won twice best entrepreneur award from CITI Group of CII	in 2000 and 2006. 
										We are commited to serve best posible quality to our customers and distributes.</p>
									<ul class="actions">
										<li><a href="/elements" class="button" style="color: blue;">Learn more</a></li>
									</ul>
								</div>
							</div>
						</section>
						<section>
							<a href="#" class="image"><img src="..//static/images/Aluminum-Foil-Barbecue-Paper-Kitchen-Cooking-Tools-Tinfoil-Oil2.webp" alt="" data-position="top center" /></a>
							<div class="content">
								<div class="inner">
									<h2><u>Food Packaging</u></h2>
									<p>Welcome to our world of innovation and sustainability in foil papers & packaging. 
										At BL.Thread since 1999.,we blend creativity with eco-consciousness to deliver 
										solutions that shine.

										From preserving freshness to enhancing presentation, our foil papers elevate 
									   your product's appeal. Join us in shaping a future where brilliance meets responsibility.</p>
									<ul class="actions">
										<li><a href="/generic" class="button">Learn more</a></li>
									</ul>
								</div>
							</div>
						</section>
						<section>
							<a href="#" class="image"><img src="/static/images/25m-plain-butter-paper-roll-500x500.jpg" alt="" data-position="50% 25%" /></a>
							<div class="content">
								<div class="inner">
									<h2><u>Packaging is A Major Role in Food Chain</u></h2>
									<p>We are a unique name in the market to provide our honorable customers an exclusive range of Hot Stamping Foils. 
										Metallic hot stamping foils are offered in different sizes for different applications by their manufacturers. 
										Metallic hot stamping foils are most commonly used in Cigarette & Wine Packaging sub-segment.
										Feel free to contact with us</p>
									<ul class="actions">
										<li><a href="/generic" class="button">Learn more</a></li>
									</ul>
								</div>
							</div>
						</section>
					</section>

				<!-- Two -->
					<section id="two" class="wrapper style3 fade-up">
						<div class="inner">
							<h2><u>What we do</u></h2>
							<p>we specialize in providing top-tier packaging solutions tailored to meet the diverse needs of our clients.
								Our extensive range of foil papers boasts superior durability, versatility, and barrier properties, ensuring optimal preservation and protection for your products. Backed by a dedicated team of experts and strategic partnerships with leading manufacturers, we guarantee unparalleled quality and reliability in every order. Whether you're in the food, pharmaceutical, or consumer goods industry, we are your trusted partner for all your packaging foil needs. Experience the difference with Kitchen Queen Wrap, where excellence in packaging meets unparalleled customer satisfaction.
								Discover our range of foil paper food packaging designed to preserve freshness and ensure convenience for your culinary delights. From sleek aluminum foil wraps to eco-friendly alternatives, we offer a variety of options to suit your needs. Our packaging complies with <a href="gallery.html">GST</a> regulations and is sourced from certified enterprises, guaranteeing quality and accountability. Each product is marked with a<a href="../templates/gallery.html">unique enterprise number</a> for traceability and reassurance. Elevate your food presentation and storage with our premium foil paper packaging solutions.
								</p>
							<div class="features">
								<section>
									<span class="icon solid major fa-code"></span>
									<h3>Aluminum foil Paper</h3>
									<p>Elevate your packaging game with our premium 
										aluminium foil paper rolls, crafted to meet the highest standards of quality and durability. 
										Ideal for a myriad of applications in the food, pharmaceutical, and industrial sectors, our aluminium foil
										 rolls offer unmatched versatility and reliability.Available in various widths and thicknesses, our aluminium foil rolls 
										 are tailored to suit the unique needs of discerning distributors in Delhi. Trust in our commitment to excellence 
										 and innovation as you elevate your packaging solutions with our aluminium foil paper rolls.</p>
								</section>
								<section>
									<span class="icon solid major fa-lock"></span>
									<h3>Butter Paper roll</h3>
									<p>
										Indulge in the superior quality andCrafted from premium-grade materials, our butter paper rolls 
										offer excellent non-stick properties, making them perfect for wrapping confectionery, bakery items, and more.
										our butter paper rolls, ideal for both professional kitchens and home use. As trusted distributors in Delhi, we are 
										dedicated to providing butter paper rolls that meet the highest standards of hygiene, safety, and performance.  
									</p>
								</section>
								<section>
									<span class="icon solid major fa-cog"></span>
									<h3>Printed Paper rolls</h3>
									<p>
										Make a lasting impression with our printed paper rolls,
										 available in convenient 9-meter and 1-kilogram packing options for distributors in Delhi. 
										 our printed paper rolls offer a unique opportunity to showcase your products and enhance brand visibility. 
										 Whether you're packaging gifts, merchandise, 
										 or promotional materials, our printed paper rolls add a touch of elegance and professionalism to every package. 
									</p>
								</section>
								<section>
									<span class="icon solid major fa-desktop"></span>
									<h3>Poly Wrap roll</h3>
									<p>Crafted from high-quality polyethylene materials, our poly paper rolls offer exceptional strength, 
										flexibility, and moisture resistance. Whether you're 
										wrapping perishable goods, protecting fragile items, or securing shipments, our poly paper rolls provide reliable </p>
								</section>
							</div>
							<ul class="actions">
								<li><a href="../templates/generic.html" class="button">Learn more</a></li>
							</ul>
						</div>
					</section>

				<!-- Three -->
					<section id="three" class="wrapper style1 fade-up">
						<div class="inner">
							<h2>Get in touch</h2>
							<p>Explore new opportunities and partnerships by getting in touch with our company today 
								Take your business to the next level – connect with us and see what we can achieve together.</p>
							<div class="split style1">
								<section>
									<form method="post" action="{{ url_for('submit_feedback') }}">
										<div class="fields">
											<div class="field half">
												<label for="name">Name</label>
												<input type="text" name="name" id="name" />
											</div>
											<div class="field half">
												<label for="email">Email</label>
												<input type="text" name="email" id="email" />
											</div>
											<div class="field">
												<label for="message">Message</label>
												<textarea name="message" id="message" rows="5"></textarea>
											</div>
										</div>
										<ul class="actions">
											<li><a href="/templates/feedback.html" class="button submit">Send Message</a></li>
										</ul>
									</form>
								</section>
								<section>
									<ul class="contact">
										<li>
											<h3>Address</h3>
											<span>765 weaver's Colony<br />
											Ashok Vihar, Delhi-110052<br />
											INDIA</span>
										</li>
										<li>
											<h3>Email</h3>
											<a href="https://mail.google.com/mail/u/0/#inbox?compose=new">Kitchenqueenwrap@gmail.com</a>
										</li>
										<li>
											<h3>Phone</h3>
											<span>(971) 6878 818</span><br>
											<span>(721) 7823 341</span>
											<h3>GST Number</h3>
											<span>07AVOPK9180A1ZF</span>
											<h3>UAN Number</h3>
											<span>DL06A0004165</span>
										</li>
										<li>
											<h3>Social</h3>
											<ul class="icons">
												<!-- <a href="https://github.com/username" target="_blank">
													<i class="fab fa-github"></i>
												  </a> -->
												  <ul class="icons">
													<li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
													<li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
													<li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
													<li><a href="#" class="icon brands fa-dribbble"><span class="label">Dribbble</span></a></li>
													<li><a href="https://mail.google.com/mail/u/0/#inbox?compose=new" class="icon solid fa-envelope">
														<span class="label">Email</span></a></li>
												</ul>
												  <!-- <a href="https://github.com/gulshanbyte/hyperspaceKitchen-king" data-ga-click="Blog, go to github's org, resources footer" style="color: #959da5;">
													<svg height="20" class="octicon octicon-mark-github d-block" alt="" viewBox="0 0 16 16" version="1.1" width="20" aria-hidden="true">
														<title>GitHub icon</title>
														<path fill-rule="evenodd" d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.013 8.013 0 0016 8c0-4.42-3.58-8-8-8z"></path>
													</svg>
													<span class="sr-only">GitHub’s organization on GitHub</span> -->
												</a></li>






												  
												<!-- <li><a href="https://github.com/gulshanbyte/hyperspaceKitchen-king/blob/main/Kitchen_king.py" class="icon brands fa-github"><span class="label">GitHub</span></a></li> -->
											
												
											</ul>
										</li>
									</ul>
								</section>
							</div>
						</div>
					</section>

			</div>
{% endblock %}